*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
body{
    background-color: rgb(133, 187, 216);
}
nav{
    margin-left: 30px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(50, 227, 15) 50%,
        rgb(0, 0, 0) 100%
  );
  box-shadow: -13px 0px 100px -4px rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 30px;

}
li{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
}
li:hover{
    background-color: rgb(220, 28, 28);
  scale: 0.8;
  cursor: pointer;
}

